%div{class: "chat-main", :"data-group_id" => @group.id}
  .chat-main__group-info
    .contents
      .contents__message--box
        .message
          = @group.name
        .name
          - @group.users.each do |user|
            = user.name
      .contents__edit
        =link_to edit_group_path(@group), class: "contents__edit--btn" do
          %p.contents__edit-box
            Edit
  .chat-main__message-list
    .chat
      .messages
        = render @messages
  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .contents__input
        = f.text_field :content, class: 'inputbox', placeholder: 'type a message'
        .contents__icon
          %label{class: "input-box__image",for:"image"}
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'hidden'
      .contents__send
        %input{type: "submit",class: "contents__send--btn",id: "message_image",value: "Send"}
